@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: AvertaCY_Black;
  src: url("fonts/Averta_Cyrillic_Black.otf") format("opentype");
}

.font-averta-cy-black {
  font-family: AvertaCY_Black;
}

@font-face {
  font-family: AvertaCY_Bold;
  src: url("fonts/Averta_Cyrillic_Bold.otf") format("opentype");
}

.font-averta-cy-bold {
  font-family: AvertaCY_Bold;
}

@font-face {
  font-family: AvertaCY_ExtraThin;
  src: url("fonts/Averta_Cyrillic_Extra_Thin.otf") format("opentype");
}

.font-averta-cy-extrathin {
  font-family: AvertaCY_ExtraThin;
}

@font-face {
  font-family: AvertaCY_ExtraBold;
  src: url("fonts/Averta_Cyrillic_ExtraBold.otf") format("opentype");
}

.font-averta-cy-extrabold {
  font-family: AvertaCY_ExtraBold;
}

@font-face {
  font-family: AvertaCY_Light;
  src: url("fonts/Averta_Cyrillic_Light.otf") format("opentype");
}

.font-averta-cy-light {
  font-family: AvertaCY_Light;
}

@font-face {
  font-family: AvertaCY_Regular;
  src: url("fonts/Averta_Cyrillic_Regular.otf") format("opentype");
}

.font-averta-cy-regular {
  font-family: AvertaCY_Regular;
}

@font-face {
  font-family: AvertaCY_SemiBold;
  src: url("fonts/Averta_Cyrillic_SemiBold.otf") format("opentype");
}

.font-averta-cy-semibold {
  font-family: AvertaCY_SemiBold;
}

@font-face {
  font-family: AvertaCY_Thin;
  src: url("fonts/Averta_Cyrillic_Thin.otf") format("opentype");
}

.font-averta-cy-thin {
  font-family: AvertaCY_Thin;
}

@font-face {
  font-family: AvertaCY_Black_Italic;
  src: url("fonts/Averta_Cyrillic_Black.otf") format("opentype");
}

.font-averta-cy-black-italic {
  font-family: AvertaCY_Black_Italic;
}

@font-face {
  font-family: AvertaCY_Bold_Italic;
  src: url("fonts/Averta_Cyrillic_Bold.otf") format("opentype");
}

.font-averta-cy-bold-italic {
  font-family: AvertaCY_Bold_Italic;
}

@font-face {
  font-family: AvertaCY_ExtraThin_Italic;
  src: url("fonts/Averta_Cyrillic_Extra_Thin.otf") format("opentype");
}

.font-averta-cy-extrathin-italic {
  font-family: AvertaCY_ExtraThin_Italic;
}

@font-face {
  font-family: AvertaCY_ExtraBold_Italic;
  src: url("fonts/Averta_Cyrillic_ExtraBold.otf") format("opentype");
}

.font-averta-cy-extrabold-italic {
  font-family: AvertaCY_ExtraBold_Italic;
}

@font-face {
  font-family: AvertaCY_Light_Italic;
  src: url("fonts/Averta_Cyrillic_Light.otf") format("opentype");
}

.font-averta-cy-light-italic {
  font-family: AvertaCY_Light_Italic;
}

@font-face {
  font-family: AvertaCY_Regular_Italic;
  src: url("fonts/Averta_Cyrillic_Regular.otf") format("opentype");
}

.font-averta-cy-regular-italic {
  font-family: AvertaCY_Regular_Italic;
}

@font-face {
  font-family: AvertaCY_SemiBold_Italic;
  src: url("fonts/Averta_Cyrillic_SemiBold.otf") format("opentype");
}

.font-averta-cy-semibold-italic {
  font-family: AvertaCY_SemiBold_Italic;
}

@font-face {
  font-family: AvertaCY_Thin_Italic;
  src: url("fonts/Averta_Cyrillic_Thin.otf") format("opentype");
}

.font-averta-cy-thin-italic {
  font-family: AvertaCY_Thin_Italic;
}
